h1{
    color:White;
    text-align: center;
}
p{
    color:white;
    font-size:18px;
    text-align: center;
}
.card-img-top{
    width: 286px;
    height: 200px;
}
/**.card-img-top:hover{
    width: 286px;
    height: 200px;
    transform: scale(1.0);
    transition: all 0.3s;
}**/
.c1:hover{
    transform: scale(1.2);
    transition: all 0.3s;
    transform: rotate(360deg);
    transition: all 1s;
    z-index: 100!important;
   
}
.c2:hover{
    transform: scale(1.2);
    transition: all 0.3s;
    z-index: 100!important;
    
}

h2{
    font-size: 25px!important;
    color: white;
}
.musicas{
    font-size: 12px;
}
.img{
 width: 500px;
 border: 3px solid white;
 cursor: pointer;
}

.img:hover{
    width: 500px;
    border: 3px solid white;
    cursor: pointer;
    transform: scale(1.1);
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%) ;
   }

.bg-black{
    background-color: black;
}
.links{
    color: rgb(255, 25, 25)!important;
}
.btn.btn-primary:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: blanchedalmond;
    border: none;
}

